@{WebChatHub.Models.CSS_CRM_NGUOI_DUNGDTO user = (WebChatHub.Models.CSS_CRM_NGUOI_DUNGDTO)Session["User"];}
@{
    ViewBag.Title = "Message Page";
}

@if (TempData["Error"] != null && !string.IsNullOrWhiteSpace(TempData["Error"].ToString()))
{
    <script>

        Swal.fire({
            title: '@Html.Raw(TempData["Error"].ToString())',
            icon: 'warning',
            showCancelButton: false,
            cancelButtonText: 'No',
            confirmButtonText: 'OK'
        })
            .then(function (willDelete) {
                if (willDelete.value) {
                    window.location.href = 'https://sagawa.vn/Booking/DanhSachDonHang';
                }
            });
    </script>
}
else
{
    <div id="modal-ChatHub" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content border-0">
                <div class="modal-header border-bottom-0 bg-primary">
                    <h4 id="title"><img src="~/lib/images/chat.png" style="vertical-align: text-bottom;" />  Tư vấn trực tuyến</h4>
                    <a class="back-home text-white" href="javascript:;" onclick="window.close()"><span><i class="fa fa-times"></i> </span></a>
                </div>
                <div class="modal-body">
                    <div class="chat-history">
                        <div class="chat-message mb-3">
                            <img class="chat-message-loading" src="~/lib/images/loading.gif" />
                            <div class="form-row chat-message-content align-content-start mx-0">
                                @*chat message content*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="message" placeholder="Nhập nội dung tin nhắn" autocomplete="off" onkeypress="txtMess_KeyPress(event)">
                                    <div class="input-group-append">
                                        <button class="btn btn-default" id="senmess" onclick="sendMess_Click()"><i class="fa fa-paper-plane"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var chatHub;

        $(function () {
            $('#modal-ChatHub').modal({ backdrop: 'static' });

            chatHub = $.connection.chatHubBooking;

            registerClientMethods(chatHub);

            $.connection.hub.start({ waitForPageLoad: false }).done(function () {
                chatHub.server.connect('@Html.Raw(user.USER_NAME)', '@Html.Raw(user.NAME)', '@Html.Raw(user.LOAI_USER)', '@Html.Raw(user.COMPANY_CODE)', '@Html.Raw(user.STATION_CODE)', '@Html.Raw(user.STATION_NAME)');
            });
        });

        function sendMess_Click() {
            var msg = $('#message').val();
            chatHub.server.sendPrivateMessage("","", msg);
            $('#message').val('');
        }

        function txtMess_KeyPress(e) {
            if (e.which == 13) {
                $('#senmess').click();
            }
        }

        function registerClientMethods(chatHub) {
            chatHub.client.onConnected = function (UserID, data) {
                for (var i in data) {
                    if (data[i].Fr_UserID !== UserID) {
                        $('.chat-message-content').append('<div class="col-md-12"><div class="chat-message-text bg-white pull-left"><p><strong>' + data[i].Fr_UserName +'</strong><br/> ' + data[i].Message + '</p><p class="time-log"><small>'+data[i].Time_String+'</small></p></div></div>');
                    }
                    else {
                        $('.chat-message-content').append('<div class="col-md-12"><div class="chat-message-text pull-right"><p> ' + data[i].Message + ' <p> </div></div>');
                    }
                }
                $('.chat-message-loading').addClass(" d-none");

                 var height = $('.chat-message-content')[0].scrollHeight;
                $('.chat-message-content').scrollTop(height);
            }

            chatHub.client.sendPrivateMessage = function (dtoMess, UserNameSend, NameSend) {
                if (dtoMess.Fr_UserRole == "CS" || dtoMess.Fr_UserRole == "CS_ADMIN") {
                    ua = navigator.userAgent;
                    /* MSIE used to detect old browsers and Trident used to newer ones*/
                    var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;

                    if (is_ie == false) {
                        //notification
                        if (window.Notification && Notification.permission === "granted") {
                            var notification = new Notification(dtoMess.Fr_UserName, {
                                icon: "/lib/images/logo/logo.png",
                                body: dtoMess.Message,
                            });

                            notification.onclick = function () {
                                window.focus();
                                this.close();
                            };
                            setTimeout(function () {
                                notification.close();
                            }, 5000);
                        } else {
                            Notification.requestPermission();
                        }
                    }

                    $('.chat-message-content').append('<div class="col-md-12"><div class="chat-message-text bg-white pull-left"><p><strong>' + dtoMess.Fr_UserName + '</strong><br/>' + dtoMess.Message + '</p><p class="time-log"><small>'+dtoMess.Time_String+'</small></p></div></div>');
                    var height = $('.chat-message-content')[0].scrollHeight;
                    $('.chat-message-content').scrollTop(height);
                    if (!$('#live-chat .chat').hasClass("d-none")) {
                        chatHub.server.updateReadMess(dtoMess.To_UserID, "KHACH");
                    }
                    else {
                        var dem = parseInt($("span.chat-message-counter").html() == "" ? "0" : $("span.chat-message-counter").html()) + 1;
                        $('span.chat-message-counter').html(dem);
                    }
                }
                else if (dtoMess.Fr_UserRole == "HT") {
                    $('.chat-message-content').append('<div class="col-md-12"><em style="float:left">' + dtoMess.Message + '</em></div>');
                    if (!$('#live-chat .chat').hasClass("d-none")) {
                        var height = $('.chat-message-content')[0].scrollHeight;
                        $('.chat-message-content').scrollTop(height);
                    }
                    else {
                        var dem = parseInt($("span.chat-message-counter").html() == "" ? "0" : $("span.chat-message-counter").html()) + 1;
                        $('span.chat-message-counter').html(dem);
                    }
                }
                else {
                    $('.chat-message-content').append('<div class="col-md-12"><div class="chat-message-text pull-right"><p>' + dtoMess.Message + '</p></div></div>');
                    var height = $('.chat-message-content')[0].scrollHeight;
                    $('.chat-message-content').scrollTop(height);
                }
            }

            chatHub.client.sendErorr = function (title) {
                Swal.fire({
                    title: title,
                    icon: 'error',
                    showCancelButton: false,
                    cancelButtonText: 'No',
                    confirmButtonText: 'OK'
                })
                .then(function (willDelete) {
                    if (willDelete.value) {
                        window.location.reload();
                    }
                });
            }
        }

    </script>
}
