@using WebSite.Language
@model WebSite.Models.TINTUCDTO
@{ViewBag.Title = "View Detail"; }
<style>
    .page-container #title {
        width: 100%;
        margin-bottom: 20px;
    }

    .page-container .placehoder {
        justify-content: center;
        padding-bottom: 15px;
    }

        .page-container .placehoder img {
            min-width: 512px;
            max-height: 480px;
            min-height: 320px;
        }

    .page-container p {
        width: 100%;
        padding: 0 !important;
        text-align: justify;
    }

        .page-container p img {
            max-width: 100%;
            max-height: auto;
        }

    .page-container .post {
        text-align: center;
    }
</style>
<div class=" page-container">
    <div class="container">
        <div class="row tintuc-content">
            @if (Request.Cookies["language"].Value == "ja")
            {
                ViewBag.Title = @Model.TIEU_DE_JA;
                <div class="post" style="padding:20px">
                    <h1 class="title-page">
                        <span>@Model.TIEU_DE_JA</span>
                    </h1>
                    <span>@Model.THOI_GIAN_STRING</span>
                </div>
                <div class="entry-content indexcontent">
                    <div class="row placehoder">
                        @if (!string.IsNullOrWhiteSpace(@Model.FILE_IMG))
                        {
                            <img src="@Model.FILE_IMG" />
                        }

                    </div>
                    <div class="row">
                        @Html.Raw(@Model.NOI_DUNG_JA)
                    </div>
                    <div class="row">
                        <p>
                            @if (!string.IsNullOrWhiteSpace(@Model.FILE_DINH_KEM))
                {
                                @Html.Raw(Resource.tepdinhkem + ":<br/>")
                                var list = Model.FILE_DINH_KEM.Replace(",", ";").Split(';');
                                foreach (var item in list)
                                {
                                    if (!string.IsNullOrWhiteSpace(item))
                                    {
                                        var str = item.Replace("/ckfinder/News/files/", "");

                                        <a href="@item">@str</a><br />
                                    }
                                }

                            }

                        </p>
                    </div>

                </div>
            }
            else if (Request.Cookies["language"].Value == "en")
            {
                ViewBag.Title = @Model.TIEU_DE_EN;
                <div class="post" style="padding:20px">
                    <h1 class="title-page">
                        <span>@Model.TIEU_DE_EN</span>
                    </h1>
                    <span>@Model.THOI_GIAN_STRING</span>
                </div>
                <div class="entry-content indexcontent">
                    <div class="row placehoder">
                        @if (!string.IsNullOrWhiteSpace(@Model.FILE_IMG))
                        {
                            <img src="@Model.FILE_IMG" />
                        }
                    </div>
                    <div class="row">
                        @Html.Raw(@Model.NOI_DUNG_EN)
                    </div>
                    <div class="row">
                        <p>
                            @if (!string.IsNullOrWhiteSpace(@Model.FILE_DINH_KEM))
                {
                                @Html.Raw(Resource.tepdinhkem + ":<br/>")
                                var list = Model.FILE_DINH_KEM.Replace(",", ";").Split(';');
                                foreach (var item in list)
                                {
                                    if (!string.IsNullOrWhiteSpace(item))
                                    {
                                        var str = item.Replace("/ckfinder/News/files/", "");
                                        <a href="@item">@str</a><br />
                                    }
                                }

                            }

                        </p>

                    </div>

                </div>
            }
            else
            {
                ViewBag.Title = @Model.TIEU_DE;
                <div class="post" style="padding:20px">
                    <h1 class="title-page">
                        <span>@Model.TIEU_DE</span>
                    </h1>
                    <span>@Model.THOI_GIAN_STRING</span>
                </div>
                <div class="entry-content indexcontent">
                    <div class="row placehoder">
                        @if (!string.IsNullOrWhiteSpace(@Model.FILE_IMG))
                        {
                            <img src="@Model.FILE_IMG" />
                        }
                    </div>
                    <div class="row">
                        @Html.Raw(@Model.NOI_DUNG)
                    </div>
                    <div class="row">
                        <p>
                            @if (!string.IsNullOrWhiteSpace(@Model.FILE_DINH_KEM))
                {
                                @Html.Raw(Resource.tepdinhkem + ":<br/>")
                                var list = Model.FILE_DINH_KEM.Replace(",", ";").Split(';');
                                foreach (var item in list)
                                {
                                    if (!string.IsNullOrWhiteSpace(item))
                                    {
                                        var str = item.Replace("/ckfinder/News/files/", "");

                                        <a href="@item">@str</a><br />
                                    }
                                }
                            }
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

