@{
    ViewBag.Title = Booking.WH_quanLyDanhMucSP;
    Layout = "~/Views/Shared/_Layout_Warehouse.cshtml";
}
@using WebSite.Language 
<style>
    .row-margin-top {
        margin-top: 5px
    }
</style>
<div class="row" style="margin-top:5px">
    <div class="col-md-1"><label style="font-weight:normal;margin-top:5px">@Booking.WH_tenSP</label></div>
    <div class="col-md-3">
        <div class="col-xs-12 form-group">
            <div class="col-md-12">
                <input type="text" class="form-control" id="txtTenSP" placeholder=@Booking.WH_moiNhapTenSPTimKiem>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <input type="submit" value="@Booking.WH_timKiem" class="btn btn-primary col-md-4" onclick="searchProduct()" id="Search" />
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2 pull-right">
        <input type="button" value="@Booking.WH_them" class="btn btn-success col-md-5 pull-right" id="Add" />
    </div>
</div>
<div class="row" style="margin-top:10px">
    @using (Html.BeginForm())
    {
        @Html.Action("grvDanhMucSanPham")
    }
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center" id="myModalLabel">@Booking.WH_themDanhMucSP</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            <label>@Booking.WH_maSP</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="txtMaSP" id="txtMaSP" readonly>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>@Booking.WH_tenSP</label>
                            <div class="col-md-12">
                                <input class="form-control" id="txtTenSanPham" name="txtTenSanPham" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>@Booking.WH_donViTinh</label>
                        <div class="col-md-12">
                            @Html.DevExpress().ComboBox(settings =>
                       {
                           settings.Name = "cbDVT";
                           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                           settings.Properties.TextField = "TEN_DON_VI_TINH";
                           settings.Properties.ValueField = "MA_DON_VI_TINH";
                           settings.Properties.NullText = @Booking.chon;
                           settings.ControlStyle.CssClass = "form-control col-md-6";
                           settings.Properties.ClientSideEvents.ItemFiltering = "onItemFiltering";
                           settings.Properties.ClientSideEvents.CustomHighlighting = "onCustomHighlighting";
                           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           settings.Properties.ClientSideEvents.ValueChanged = "function (s,e){changeValue()}";
                           settings.Properties.Columns.Add(column =>
                           {
                               column.FieldName = "TEN_DON_VI_TINH";
                               column.Caption = @Booking.WH_donViTinh;
                               column.Width = 100;
                           });
                       }).BindList(ViewData["DVT"] as List<WebSite.Models.Warehouse.WH_V3_UNIT_TYPEDTO>).GetHtml()
                        </div>
                    </div>
                    <div class="col-md-3 hidden">
                        <label>ĐVT quy đổi</label>
                        <div class="col-md-12">
                            @Html.DevExpress().ComboBox(settings =>
                            {
                            settings.Name = "cbDVTQuyDoi";
                            settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                            settings.Properties.TextField = "TEN_DON_VI_TINH";
                            settings.Properties.ValueField = "MA_DON_VI_TINH";
                            settings.Properties.NullText = "Chọn";
                            settings.ControlStyle.CssClass = "form-control col-md-6";
                            settings.Properties.ClientSideEvents.ItemFiltering = "onItemFiltering";
                            settings.Properties.ClientSideEvents.CustomHighlighting = "onCustomHighlighting";
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.Properties.Columns.Add(column =>
                            {
                            column.FieldName = "TEN_DON_VI_TINH";
                            column.Caption = "Tên ĐVT quy đổi";
                            column.Width = 100;
                            });
                            }).BindList(ViewData["DVT"] as List<WebSite.Models.Warehouse.WH_V3_UNIT_TYPEDTO>).GetHtml()
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>@Booking.WH_maSPOwner</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="txtMaSPOwner" id="txtMaSPOwner">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>@Booking.WH_donGia</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="txtDonGia" id="txtDonGia" value="0" data-decimals="0" step="1000" min="0">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label>@Booking.WH_nhomSP</label>
                        <div class="col-md-12">
                            @Html.DevExpress().ComboBox(settings =>
                       {
                           settings.Name = "cbNhomSP";
                           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                           settings.Properties.TextField = "TEN_NHOM_SAN_PHAM";
                           settings.Properties.ValueField = "MA_NHOM_SAN_PHAM";
                           settings.Properties.NullText = @Booking.WH_chonNhomSanPham;
                           settings.ControlStyle.CssClass = "form-control col-md-6";
                           settings.Properties.ClientSideEvents.ItemFiltering = "onItemFiltering";
                           settings.Properties.ClientSideEvents.CustomHighlighting = "onCustomHighlighting";
                           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           settings.Properties.TextFormatString = "{0}";
                           settings.Properties.Columns.Add(column =>
                           {
                               column.FieldName = "TEN_NHOM_SAN_PHAM";
                               column.Caption = Booking.WH_tenSP;
                               column.Width = 150;
                           });
                           settings.Properties.Columns.Add(column =>
                           {
                               column.FieldName = "MA_NHOM_SAN_PHAM";
                               column.Caption = Booking.WH_maSP;
                               column.Width = 150;
                           });
                       }).BindList(ViewData["NhomSP"] as List<WebSite.Models.Warehouse.WH_V3_NHOM_SAN_PHAMDTO>).GetHtml()
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>@Booking.trongluong</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" name="txtTrongLuong" id="txtTrongLuong" value="0" data-decimals="3" step="0.001" min="0">
                        </div>
                    </div>
                    <div class="checkbox col-md-2" style="margin-top:20px">
                        <label><input type="checkbox" value="" id="Serial">@Booking.WH_coSerial</label>
                    </div>
                    <div class="checkbox col-md-3" style="margin-top:20px">
                        <label><input type="checkbox" id="batBuocXKVoiNgayHH" checked>@Booking.WH_batBuocXK</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="control-label col-md-12">@Booking.WH_moTa</label>
                    <textarea class="form-control" rows="4" id="txtMoTa"></textarea>
                </div>
                <div class="col-xl-12">
                    <div class="row m-0">
                        <label class="control-label col-md-12">@Booking.WH_chonAnh</label>
                        <span class="btn-file lstImg">
                            <img id="img1" class="HINHANH" src="~/lib/images/no_image.png" />
                        </span>
                        <span class="btn-file lstImg">
                            <img id="img2" class="HINHANH" src="~/lib/images/no_image.png" />
                        </span>
                        <span class="btn-file lstImg">
                            <img id="img3" class="HINHANH" src="~/lib/images/no_image.png" />
                        </span>
                        <span class="btn-file lstImg">
                            <img id="img4" class="HINHANH" src="~/lib/images/no_image.png" />
                        </span>
                        <span class="btn-file lstImg">
                            <img id="img5" class="HINHANH" src="~/lib/images/no_image.png" />
                        </span>
                        <label>
                            <span class="btn btn-primary" style="font-style:normal">
                                @Booking.WH_chonAnh <input type="file" multiple id="UploadFile" onchange="readImg(this)" style="display: none;" name="UploadFile" accept="image/*">
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="modal-btn-sua">@Booking.WH_sua</button>
                <button type="button" class="btn btn-primary" id="modal-btn-si">@Booking.WH_them</button>
                <button type="button" class="btn btn-danger" id="modal-btn-no">@Booking.WH_huy</button>
            </div>
        </div>
    </div>
</div>


<script>
    //Change
    function changeValue() {
        var dvt = cbDVT.GetValue();
        cbDVTQuyDoi.SetValue(dvt);
    }
    //Search
    function searchProduct() {
        var tenSP = document.getElementById("txtTenSP").value;
        var data = {
            tenSP: tenSP
        }
        $('.img-loading').show();
        $.ajax({
            type: "post",
            url: "/Warehouse/TimKiemSP",
            data: data,
            dataType: "json",
            success: function (data) {
                if (data.isError) {
                    Swal.fire(data.Mess,
                        '',
                        'error')
                    return;
                }
                else {
                    gridView.Refresh();
                }
            },
            complete: function () {
                $('.img-loading').hide();
            }

        });
    }
    //Modal
    $("#Add").on("click", function () {
        $('#modal-btn-si').show();
        $('#modal-btn-sua').hide();
        $.ajax({
            url: "/Warehouse/GetAutonumSP",
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.Error) {
                    Swal.fire(data.Title,
                        '',
                        'error')
                    return;
                }
                else {
                    document.getElementById("txtMaSP").value = data.Object[0].MA_SAN_PHAM;
                }
            }
        })
        $("#mi-modal").modal('show');
    });

    //Thêm SP
    $("#modal-btn-si").on("click", function () {
        AddAndEdit("ADD");
    });

    function AddAndEdit(type) {
        $('.img-loading').show();
        var maSP = document.getElementById("txtMaSP").value;
        var tenSP = document.getElementById("txtTenSanPham").value;
        var dvt = cbDVT.GetValue();
        var tenDvt = cbDVT.GetText();
        var dvtQuyDoi = cbDVT.GetValue();
        var tenDvtQuyDoi = cbDVT.GetText();
        var maSPOwner = document.getElementById("txtMaSPOwner").value;
        var nhomSP = cbNhomSP.GetValue();
        var trongLuong = document.getElementById("txtTrongLuong").value.replace(".", ",");
        var serial = document.getElementById("Serial").checked;
        var batBuocNKVoiNgayHH = document.getElementById("batBuocXKVoiNgayHH").checked;
        var donGia = document.getElementById("txtDonGia").value;
        var moTa = document.getElementById("txtMoTa").value;
        if (maSP == "" || maSP == undefined) {
            Swal.fire('@Html.Raw(@Booking.WH_moiNhapMaSP)',
                '',
                'error')
            return;
        }
        if (tenSP == "" || tenSP == undefined) {
            Swal.fire('@Html.Raw(@Booking.WH_moiNhapTenSP)',
                '',
                'error')
            return;
        }
        if (dvt == "" || dvt == undefined) {
            Swal.fire('@Html.Raw(@Booking.WH_moiChonDVT)',
                '',
                'error')
            return;
        }
        if (maSPOwner == "" || maSPOwner == undefined) {
            Swal.fire('@Html.Raw(@Booking.WH_moiNhapMaSPOwner)',
                '',
                'error')
            return;
        }
        if (nhomSP == "" || nhomSP == undefined) {
            Swal.fire("@Html.Raw(@Booking.WH_moiChonNhomSP)",
                '',
                'error')
            return;
        }
        if (trongLuong == "" || trongLuong == undefined) {
            Swal.fire("@Html.Raw(@Booking.WH_moiNhapTrongLuong)",
                '',
                'error')
            return;
        }
        var data = new FormData();
        $.each($("#UploadFile"), function (i, obj) {
            $.each(obj.files, function (j, file) {
                data.append("UploadedFile", file); // is the var i against the var j, because the i is incremental the j is ever 0
            });
        });
        data.append("MA_SAN_PHAM", maSP);
        data.append("TEN_SAN_PHAM", tenSP);
        data.append("MA_DON_VI_TINH", dvt);
        data.append("TEN_DON_VI_TINH", tenDvt);
        data.append("MA_DON_VI_TINH_QUY_DOI", dvtQuyDoi);
        data.append("TEN_DON_VI_TINH_QUY_DOI", tenDvtQuyDoi);
        data.append("MA_SP_NHA_CUNG_CAP", maSPOwner);
        data.append("MA_NHOM_SAN_PHAM", nhomSP);
        data.append("TRONG_LUONG", trongLuong);
        data.append("CO_SERI", serial);
        data.append("BAT_BUOC_XUAT_KHO_THEO_HAN_SD", batBuocNKVoiNgayHH);
        data.append("DON_GIA", donGia);
        data.append("MO_TA", moTa);
        if (type == 'ADD') {
            data.append("TYPE", "ADD");
        }
        else {
            data.append("TYPE", "EDIT");
        }
        $.ajax({
            type: "post",
            url: "/Warehouse/AddSP",
            data: data,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.isError) {
                    Swal.fire(data.Mess,
                        '',
                        'error')
                    return;
                }
                else if (data.isSuccess) {
                    Swal.fire(data.Mess,
                        '',
                        'success');
                    $("#mi-modal").modal('hide');
                    rsModal();
                    return;
                }
            },
            complete: function () {
                $('.img-loading').hide();
                document.getElementById('Search').click();
            }

        });
    }

    //Sửa SP
    $("#modal-btn-sua").on("click", function () {
        AddAndEdit("EDIT");
    });

    $("#modal-btn-no").on("click", function () {
        $("#mi-modal").modal('hide');
        rsModal();
    });
    //Reset
    function rsModal() {
        document.getElementById("txtMaSP").value = '';
        document.getElementById("txtTenSanPham").value = '';
        cbDVT.SetValue(null);
        cbDVTQuyDoi.SetValue(null);
        document.getElementById("txtMaSPOwner").value = '';
        cbNhomSP.SetValue(null);
        document.getElementById("txtTrongLuong").value = '0';
        document.getElementById("Serial").checked = false;
        document.getElementById("batBuocXKVoiNgayHH").checked = true;
        $('.lstImg').find('img').attr("src", "/lib/images/no_image.png");
        document.getElementById("UploadFile").value = '';
        document.getElementById("txtDonGia").value = '';
        document.getElementById("txtMoTa").value = '';
    }
    //chuột phải
    function OnContextMenuItemClick(s, e) {
        var item = e.elementIndex;
        if (e.item.name == "ExportToXLSX") {
            gridView.ExportTo(ASPxClientGridViewExportFormat.Xlsx);
        }
    }

    //Chọn ảnh
    function readImg(obj) {
        $('.lstImg').find('img').attr("title", "no_image.png");
        $('.lstImg').find('img').attr("src", "/lib/images/no_image.png");
        if (parseInt(obj.files.length) > 5) {
            $('#msgHINHANH').show();
            return;
        }
        var files = obj.files;
        if (files) {
            [].forEach.call(files, readAndPreview);
        }
        function readAndPreview(file, index) {
            if (Math.round(file.size / (1024 * 1024)) > 2) { // make it in MB so divide by 1024*1024
                $('#tenfile').val('');
                Swal.fire('',
                    '@Html.Raw(@Booking.WH_fileBeHon2MB)',
                    'error')
                return;
            }
            // Make sure `file.name` matches our extensions criteria
            var reader = new FileReader();
            reader.addEventListener("load", function () {

                index = parseInt(index) + 1;
                $('#img' + index).attr("title", file.name);
                $('#img' + index).attr("src", this.result);
            }, false);
            reader.readAsDataURL(file);
        }
    }

    //Sửa SP
    function suaSP(maSP) {
        $('#modal-btn-si').hide();
        $('#modal-btn-sua').show();
        rsModal();
        $.ajax({
            type: "post",
            url: "/Warehouse/GetThongTinSanPham",
            data: {
                maSanPham: maSP,
                isTheoMaSP: true,
                xuatKho: false
            },
            dataType: "json",
            success: function (data) {
                if (data.isError) {
                    Swal.fire(data.Mess,
                        '',
                        'error')
                    return;
                }
                else {
                    $("#mi-modal").modal('show');
                    document.getElementById("txtMaSP").value = data.Object[0].MA_SAN_PHAM;
                    document.getElementById("txtTenSanPham").value = data.Object[0].TEN_SAN_PHAM;
                    cbDVT.SetValue(data.Object[0].MA_DON_VI_TINH);
                    document.getElementById("txtMaSPOwner").value = data.Object[0].MA_SP_NHA_SAN_XUAT;
                    cbNhomSP.SetValue(data.Object[0].MA_NHOM_SAN_PHAM);
                    document.getElementById("txtTrongLuong").value = data.Object[0].TRONG_LUONG;
                    document.getElementById("Serial").checked = data.Object[0].CO_SERI;
                    document.getElementById("batBuocXKVoiNgayHH").checked = data.Object[0].BAT_BUOC_XUAT_KHO_THEO_HAN_SD;
                    document.getElementById("UploadFile").value = '';
                    document.getElementById("txtDonGia").value = data.Object[0].DON_GIA;
                    document.getElementById("txtMoTa").value = data.Object[0].MO_TA;
                    if (data.Object[0].URL_IMG1 != null) {
                        document.getElementById("img1").src = data.Object[0].URL_IMG1;
                    }
                    if (data.Object[0].URL_IMG2 != null) {
                        document.getElementById("img2").src = data.Object[0].URL_IMG2;
                    }
                    if (data.Object[0].URL_IMG3 != null) {
                        document.getElementById("img3").src = data.Object[0].URL_IMG3;
                    }
                    if (data.Object[0].URL_IMG4 != null) {
                        document.getElementById("img4").src = data.Object[0].URL_IMG4;
                    }
                    if (data.Object[0].URL_IMG5 != null) {
                        document.getElementById("img5").src = data.Object[0].URL_IMG5;
                    }
                }
            },
            complete: function () {
                $('.img-loading').hide();
            }

        });
    }
</script>
